@model ProjectDiamondShop.Models.Cart

@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<style>
    h2 {
        margin-top: 50px;
        text-align: center;
    }

    .table th, .table td {
        text-align: center; /* Center align text in table headers and cells */
        vertical-align: middle; /* Vertically center align text */
    }

    .button-group {
        margin-top: 20px;
        display: flex;
        justify-content: center;
    }

        .button-group form {
            margin: 0 10px;
        }
</style>

<h2>Your Cart</h2>

<div class="container">
    <table class="table table-bordered table-striped">
        <thead class="table1">
            <tr>
                <th>Diamond Name</th>
                <th>Price</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>@item.DiamondName</td>
                    <td>@item.DiamondPrice</td>
                    <td>
                        @using (Html.BeginForm("RemoveFromCart", "Cart", FormMethod.Post))
                        {
                            @Html.Hidden("diamondID", item.DiamondID)
                            <input type="submit" value="Remove" class="btn btn-danger" />
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <div class="button-group">
        @using (Html.BeginForm("ClearCart", "Cart", FormMethod.Post))
        {
            <input type="submit" value="Clear Cart" class="btn btn-warning" />
        }
        @using (Html.BeginForm("CreateOrder", "Order", FormMethod.Post))
        {
            <input type="submit" value="Check Out" class="btn btn-primary" />
        }
    </div>
</div>

<div class="modal fade" id="emptyCartModal" tabindex="-1" role="dialog" aria-labelledby="emptyCartModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="emptyCartModalLabel">Cart is Empty</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Your cart is empty. Please add items to your cart.</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="emptyCartOkButton">OK</button>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var itemCount = @Model.Items.Count;
            if (itemCount === 0) {
                $('#emptyCartModal').modal('show');
            }

            $('#emptyCartOkButton').click(function () {
                window.location.href = '@Url.Action("Index", "Diamonds")';
            });
        });
    </script>
}
