
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>The Diamond Shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .container {
            width: 100%;
            max-width: 960px;
            margin: 0 auto;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            margin-left: 10px;
            margin-right: 10px;
        }

            .row.decription {
                margin-top: 10px;
            }

        .col-md-4 {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
            padding: 0 15px;
            box-sizing: border-box;
        }

        h3 {
            margin-top: 0;
            color: black;
            font-size: 18px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 5px;
        }

        .dropdown-menu {
            width: 400px;
        }

            .dropdown-menu li a {
                font-size: 12px;
            }

            .dropdown-menu h3,
            .dropdown-menu .col-md-3,
            .dropdown-menu .divider {
                margin-bottom: 2px;
            }

            .dropdown-menu h3 {
                font-size: 14px;
            }

            .dropdown-menu .col-md-3 {
                border-right: 1px solid #ddd;
                padding-right: 20px;
            }

                .dropdown-menu .col-md-3:last-child {
                    border-right: none;
                }

        .navbar-brand {
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .navbar-brand span:first-child {
                margin-right: 10px;
            }

        .slide-content {
            position: relative;
            text-align: center;
        }

            .slide-content p {
                position: absolute;
                top: 75%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

        .col-md-3 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .diamond-search-icons {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 15px;
            margin-top: 15px;
        }

            .diamond-search-icons figure {
                margin: 0;
            }

                .diamond-search-icons figure img {
                    width: 50px;
                    height: 50px;
                }

            .diamond-search-icons figcaption {
                font-size: 11px;
                margin-top: 5px;
            }

        .search-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: black;
            color: azure;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.2s ease;
            margin-top: 10px;
            font-weight: bold;
        }

            .search-button:hover {
                background-color: #0056b3;
            }

        .slide-wrapper {
            position: relative;
        }

        .carousel-control {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
        }

            .carousel-control .glyphicon {
                color: crimson;
            }

        .left.carousel-control {
            left: 10px;
        }

        .right.carousel-control {
            right: 10px;
        }

        .decription {
            text-align: justify;
        }

        .spacer {
            height: 30px; /* Điều chỉnh chiều cao theo nhu cầu */
        }

        .content.decription p {
            font: 400 18px / 28px 'Roboto', Helvetica, Arial, sans-serif;
            text-align: justify;
        }

        .custom-list li {
            list-style-type: disc;
            margin-left: 20px;
        }

        .container center img {
            text-align: justify;
        }
    </style>
</head>

<body>
    <form id="form1" runat="server">

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container ">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle " data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button>

                    <a class="navbar-brand text-center" href="@Url.Action("Index", "Home")">
                        <span>
                            <img src="/Image/HomePage/Logo/SafeIcon.jpg" alt="TheDiamondShop" height="40" />
                        </span>
                        <span>The Diamond Shop</span>
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="@Url.Action("Index", "Home")">Home</a> </li>
                        <li><a href="@Url.Action("About", "Home")">About</a> </li>
                        <li><a href="@Url.Action("Contact", "Home")">Contact US</a> </li>
                        <li><a href="#">Blog</a> </li>
                        @{ if (User.Identity.IsAuthenticated)
                            {
                                <li><a href="#">Logout</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Action("Index", "SignUp")">Sign Up</a> </li>
                                <li><a href="#">Login</a> </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="spacer"></div>
        <h2 class="text-center" style="margin-top: 48px;">Baguette Diamond Story</h2>

        <div class="container center">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <div class="slide-wrapper">
                            <a href="#">
                                <img src="~/Image/SlideDiamond/baguette.jpg" alt="Destination 1" style="width: 100%;" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slide-wrapper">
                            <a href="#">
                                <img src="~/Image/SlideDiamond/baguette1.jpg" alt="Destination 2" style="width: 100%;" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slide-wrapper">
                            <a href="#">
                                <img src="~/Image/SlideDiamond/baguette2.jpg" alt="Destination 3" style="width: 100%;" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slide-wrapper">
                            <a href="#">
                                <img src="~/Image/SlideDiamond/baguette3.jpg" alt="Destination 4" style="width: 100%;">
                            </a>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>


        <!--Code thêm phần bài viết ở đây-->
        <div class="container center ">
            <div class="row ">
                <p class="decription justify">
                    A Baguette diamond is a thin, elongated, rectangular-shaped diamond.
                    Baguettes can be almost square in shape, but are more commonly long and thin, often around 5:1 in length to width.
                    Baguette diamonds can have straight edges in a perfect rectangle, or tapered edges that angle in.
                    These are referred to as “straight” or “tapered” baguettes.
                    The corners are perfectly square, which is the biggest difference between baguettes and similar cuts, like the emerald cut.
                    Baguettes have 14 facets, much less than traditional diamond cuts, which will usually have more than 50.
                    They are usually small, and thus often used as side stones for engagement rings, or for eternity rings or wedding rings.
                    <img src="~/Image/Introlmage/baguettes.png" alt="Destination 4" style="width: 100%; margin:auto;" />
                </p>

                <h2 class="wp-block-heading" id="h-what-are-baguette-diamonds">What Are Baguette Diamonds?</h2>
                <p class="decription justify">
                    Baguettes are part of the step cut family, which also includes emerald and asscher cuts.
                    One of the distinguishing features of step cut diamonds is the straight, clearly-defined facets.
                    This gives diamonds like baguettes a very different appearance to round cut diamonds, with less sparkle and brilliance.
                </p>
                <p class="decription justify">While almost all baguettes are step cuts, it is possible to get hybrid brilliant cut baguettes. These have more facets and as a result, have much more dazzling brilliance, as you can see from <a href="https://www.bluenile.com/engagement-rings/design-your-own-ring/tapered-brilliant-baguette-diamond-engagement-ring-in-platinum-1-2-ct-tw-item-194281?a_aid=dmnd1357&amp;data1=42026" data-wpel-link="advanced" target="_blank" rel="nofollow noopener external sponsored" title="" class="external-link">this tapered brilliant baguette three-stone ring on Blue Nile</a>.&nbsp;</p>
                <p class="decription justify">A ring set with brilliant-cut baguettes will come at a much higher price, due not only to the baguette itself, but the higher quality center stone needed to draw attention.</p>
                <h2 class="wp-block-heading" id="h-baguette-vs-emerald-cut-diamond">Baguette vs. Emerald Cut Diamond</h2>
                <p class="decription justify">The difference between baguette and emerald cut diamonds is the number of facets and a small difference in shape.</p>
                <p class="decription justify">Baguette cuts have 14 facets, while an Emerald cut has 58 facets.</p>
                <p class="decription justify">
                    While both cuts can have a similar elongated, rectangular shape, baguette cuts have square corners, while emerald cuts have diagonal corners.
                    Baguettes are longer and narrower than emerald cuts.
                </p>
                <p class="decription justify">Typically baguette cuts will be sold in lower carat weights than emerald cuts, as they are not often used as center stones, like the emerald or <a href="https://www.diamonds.pro/education/asscher-cut/" data-wpel-link="internal">asscher cut</a>. Jewelry utilizing smaller diamonds like mellee or baguettes have surged in popularity lately. “Most luxury brands seem to be confident that sales [of diamond bands] will be good, and have already placed orders for mellee diamonds for the coming six months” as&nbsp;<a href="https://rapaport.com/analysis/in-shaky-market-small-diamonds-are-winning/" target="_blank" rel="noreferrer noopener external" data-wpel-link="external">reported by Rapaport</a> referring to smaller diamond sales.</p>
                <p class="decription justify">
                    The lower number of facets on a baguette means they provide much less shine than an emerald, and imperfections on the diamond are easier to notice.
                    This is why they’re preferred as smaller, “accent” diamonds, used to complement a center stone of <a href="https://www.diamonds.pro/education/shapes/" data-wpel-link="internal">any shape</a>.
                </p>
                <h2 class="wp-block-heading" id="h-baguette-engagement-ring-settings">Baguette Engagement Ring Settings</h2>
                <p class="decription justify">
                    Baguette diamonds make great choices for side stones in a <a href="https://www.diamonds.pro/education/three-stone-diamond-rings/" data-wpel-link="internal">three-stone setting</a>.
                    The perfect stone and setting will accentuate the center stone and produce a beautiful engagement ring.
                </p>
                <p>
                    Most rings that feature baguette diamonds have them set horizontally, one baguette on each side drawing attention to a center stone.
                    It’s also common for tapered baguettes used in this style of ring, with the narrow end pointing away from the center stone.
                </p>
                <h3 class="wp-block-heading" id="h-three-stone-baguette-rings">Three-Stone Baguette Rings</h3>
                <p class="decription justify">
                    A tapered baguette diamond is a beautiful way to add extra shine to a ring without taking away from the center stone. <br />
                    <br />One of the most popular styles is a three-stone setting with tapered baguettes next to an emerald cut.
                    Rings such as <a href="https://www.bluenile.com/engagement-rings/design-your-own-ring/tapered-baguette-diamond-engagement-ring-in-14k-rose-gold-1-6-ct-tw-item-192868?a_aid=dmnd1357&amp;data1=42026" data-wpel-link="advanced" target="_blank" rel="nofollow noopener external sponsored" title="" class="external-link">this</a>
                    feature perfectly matched step cut diamonds in the emerald and baguette cuts that complement each other beautifully.
                    <img src="~/Image/Introlmage/Baguette1.png" alt="Destination 4" style="width: 100%; margin:auto;" />
                </p>
                <h3 class="wp-block-heading" id="h-channel-set-baguette-rings">Channel Set Baguette Rings</h3>
                <p>
                    Baguette diamonds make perfect accents for channel set rings.
                    This setting, with small diamonds set into the metal leading up to the center stone, is a clean and sophisticated look.
                    As an example, see this channel set ring from James Allen with straight baguettes set end-to-end halfway along the band, which gives a brilliant overall shine.
                    <img src="~/Image/Introlmage/Baguette2.png" alt="Destination 4" style="width: 100%; margin:auto;" />
                </p>
                <h3 class="wp-block-heading" id="h-vintage-baguette-rings">Vintage Baguette Rings</h3>
                <p class="decription justify">
                    Baguettes are great additions to extravagant vintage settings.
                    For rings with a lot of round diamonds, baguettes add variety and can take the ring to a new level.
                    See this hexagon baguette ring from Blue Nile, with a collection of straight baguettes surrounding the center diamond.
                    <img src="~/Image/Introlmage/Baguette3.png" alt="Destination 4" style="width: 100%; margin:auto;" />
                </p>
                <p class="decription justify">
                    Even more extravagant is this stunning baguette halo ring from Blue Nile.
                    Baguettes are set around the center stone, punctuated by round accent diamonds, for a show-stopping look.
                </p>
                <h2 class="wp-block-heading" id="h-are-baguette-diamonds-expensive">Are Baguette Diamonds Expensive</h2>
                <p class="decription justify">
                    Baguette diamonds are often less expensive than other diamond cuts.
                    The price per carat for a baguette diamond is likely to be less than, say, a round brilliant, or an emerald cut, as lower-quality cuts are used.
                    Baguettes are graded on the 4 C’s, as with any diamond. So prices can vary depending on a stone’s grade.
                    It is possible to get high-grade baguette diamonds, in which case the price per carat will be similar to more common cuts, if not more due to the increased scarcity of high-quality baguettes.
                    However, baguette diamonds are almost always a lower carat weight, so individually they are not as expensive as other diamonds.
                </p>
            </div>
        </div>
        <footer>
            <hr />
            <div class="container text-center">
                <p><a href="#">Back To Top</a></p>
                <p>&copy; 2024 The Diamond Shop. All rights reserved.</p>
                <p>
                    <a href="#">Terms of Service</a> | <a href="#">Privacy Policy</a> | <a href="#">Refund Policy</a>
                </p>

            </div>
        </footer>
    </form>
</body>
</html>

