
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>The Diamond Shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .container {
            width: 100%;
            max-width: 960px;
            margin: 0 auto;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            margin-left: 10px;
            margin-right: 10px;
        }

            .row.decription {
                margin-top: 10px;
            }

        .col-md-4 {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
            padding: 0 15px;
            box-sizing: border-box;
        }

        h3 {
            margin-top: 0;
            color: black;
            font-size: 18px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 5px;
        }

        .dropdown-menu {
            width: 400px;
        }

            .dropdown-menu li a {
                font-size: 12px;
            }

            .dropdown-menu h3,
            .dropdown-menu .col-md-3,
            .dropdown-menu .divider {
                margin-bottom: 2px;
            }

            .dropdown-menu h3 {
                font-size: 14px;
            }

            .dropdown-menu .col-md-3 {
                border-right: 1px solid #ddd;
                padding-right: 20px;
            }

                .dropdown-menu .col-md-3:last-child {
                    border-right: none;
                }

        .navbar-brand {
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .navbar-brand span:first-child {
                margin-right: 10px;
            }

        .slide-content {
            position: relative;
            text-align: center;
        }

            .slide-content p {
                position: absolute;
                top: 75%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

        .col-md-3 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .diamond-search-icons {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 15px;
            margin-top: 15px;
        }

            .diamond-search-icons figure {
                margin: 0;
            }

                .diamond-search-icons figure img {
                    width: 50px;
                    height: 50px;
                }

            .diamond-search-icons figcaption {
                font-size: 11px;
                margin-top: 5px;
            }

        .search-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: black;
            color: azure;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.2s ease;
            margin-top: 10px;
            font-weight: bold;
        }

            .search-button:hover {
                background-color: #0056b3;
            }

        .slide-wrapper {
            position: relative;
        }

        .carousel-control {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
        }

            .carousel-control .glyphicon {
                color: crimson;
            }

        .left.carousel-control {
            left: 10px;
        }

        .right.carousel-control {
            right: 10px;
        }

        .decription {
            text-align: justify;
        }

        .spacer {
            height: 30px; /* Điều chỉnh chiều cao theo nhu cầu */
        }

        .content.decription p {
            font: 400 18px / 28px 'Roboto', Helvetica, Arial, sans-serif;
            text-align: justify;
        }

        .custom-list li {
            list-style-type: disc;
            margin-left: 20px;
        }

        .container center img {
            text-align: justify;
        }
    </style>
</head>

<body>
    <form id="form1" runat="server">

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container ">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle " data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button>

                    <a class="navbar-brand text-center" href="@Url.Action("Index", "Home")">
                        <span>
                            <img src="/Image/HomePage/Logo/SafeIcon.jpg" alt="TheDiamondShop" height="40" />
                        </span>
                        <span>The Diamond Shop</span>
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="@Url.Action("Index", "Home")">Home</a> </li>
                        <li><a href="@Url.Action("About", "Home")">About</a> </li>
                        <li><a href="@Url.Action("Contact", "Home")">Contact US</a> </li>
                        <li><a href="#">Blog</a> </li>
                        @if (Session["IsAuthenticated"] != null && (bool)Session["IsAuthenticated"])
                        {
                            <li><a href="@Url.Action("Logout", "Login")">Logout</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Index", "SignUp")">Sign Up</a></li>
                            <li><a href="@Url.Action("Index", "Login")">Login</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="spacer"></div>
        <h2 class="text-center">Emerald Diamond Story</h2>

        <div class="container center">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <div class="slide-wrapper">
                            <a href="#">
                                <img src="~/Image/SlideDiamond/emerald.jpg" alt="Destination 1" style="width: 100%; height: 300px" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slide-wrapper">
                            <a href="#">
                                <img src="~/Image/SlideDiamond/emerald1.png" alt="Destination 2" style="width: 100%; height: 300px" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slide-wrapper">
                            <a href="#">
                                <img src="~/Image/SlideDiamond/emerald2.jpg" alt="Destination 3" style="width: 100%; height: 300px" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slide-wrapper">
                            <a href="#">
                                <img src="~/Image/SlideDiamond/emerald4.jpg" alt="Destination 4" style="width: 100%; height: 300px">
                            </a>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>


        <!--Code thêm phần bài viết ở đây-->
        <div class="container center ">
            <div class="row ">
                <p class="decription">
                    Emerald cut diamonds typically have of 57 facets and are distinguished by their elongated, rectangular shape and unique step cuts, creating a ‘hall of mirrors effect.
                    While generally not as brilliant they usually appear larger than other shapes of the same carat weight.
                    Their large table can make even tiny flaws stand out, so buyers should be wary of visible inclusions.
                    Emerald cut diamonds tend to show more color than other shapes.
                    Emerald shaped diamonds are not graded on cut.
                    In general we recommend looking for a depth of below 74% and a length to width ration of 1.30 to 1.60 which will provide a beautiful cut.
                    In this article we discuss our emerald cut recommendations to ensure you end up with a stunning emerald cut at a great price.
                    For example, you can get a great one carat emeral cut for $3,300.
                </p>
                <h2 class="wp-block-heading" id="What-is-an-Emerald-Cut-Diamond">What Is An Emerald Cut Diamond</h2>
                <p>
                    The emerald cut diamond flaunts an elongated, rectangular shape and chiseled step cuts, with straight linear facets—usually arranged parallelly down the stone.
                    To add stability and prevent fractures, the corners of an emerald cut diamond are usually cropped.
                </p>
                <p>
                    The emerald cut diamond provides for deep clarity and a large surface table.
                    Through its long step cuts, the diamond offers abundant reflections both of white and colored light.
                    Emerald cuts are more prominent in rectangles but are available in squares as well.
                </p>
                <p>
                    A popular choice for those wanting a larger stone without a high price point, an emerald cut diamond usually appears bigger than other shaped diamonds in the same carat weight.
                    Emerald cuts are also a top choice for celebrities.
                    As <a href="https://www.hellomagazine.com/brides/20210217107101/paris-hilton-has-announced-that-she-is-engaged/" data-wpel-link="external" target="_blank" rel="external noopener">Hello Magazine</a>, a top magazine covering celebrities, reports celebs like Paris Hilton make emerald cuts their top choice.
                </p>
                <h2 class="wp-block-heading" id="Emerald-Cut-Diamond---Length-to-Width-Ratio">Emerald Cut Diamond – Length to Width Ratio</h2>
                <p>
                    A diamond’s length to width ratio tells how squared or elongated its shape is. The ratio is calculated by dividing the length of the diamond by the width.
                    For example, if a diamond’s length is 6mm and its width is 4mm, the length to width ratio is 1.50 – rectangular shape.
                    On the opposite side, a length to width ratio close to 1 looks like a square, because the length and width of the diamond are similar.
                    The ideal shape for an emerald cut diamond is rectangular, with the ratio classically ranging from 1.30 to 1.60.
                    Most people choose a ration close to 1.50, however, you may have your own preference for a slightly wider or longer shaped diamond.
                    Review a handful of emerald cut diamonds to determine which length to width ratio you prefer.
                    Consider also how the diamond will look in your desired setting.
                    If you prefer a more square shape—instead of a rectangular design—you may wish to consider an asscher cut diamond, an exquisite alternative to the emerald cut.
                    <img src="~/Image/Introlmage/emerald.png" alt="Destination 4" style="width: 100%;margin:auto;" />
                </p>
                <h2 class="wp-block-heading">Comparing Size and Carat Weight</h2>
                <p>
                    Take a look at the size differences between different carat weigh of an emerald cut.
                    Keep in mind that those are average measurements as every emerald cut diamond is slightly different (in measurements and L:W ratio).
                    <img src="~/Image/Introlmage/emerald1.jpg" alt="Destination 4" style="width: 80%;margin:auto;" />
                </p>
                <h2 class="wp-block-heading" id="Emerald-Cut-Diamond---Clarity">Emerald Cut Diamond – Clarity</h2>
                <p>
                    The <a href="https://www.diamonds.pro/education/diamond-depth-and-table/" data-wpel-link="internal"><strong>table</strong></a> (top surface area) of an emerald cut is like a clear unobstructed window into the center of the stone. Any inclusions found in the middle will be clearly visible. Because both the <b>pavilion</b> (the bottom slanted portion of the diamond) and <b>crown</b> (the upper diamond resting atop the girdle) are comparatively shallow, step cut stones are generally not as bright and never as fiery as brilliant cut stones.
                    Rather, they accentuate a diamond’s clarity, as even the slightest flaw would be highly visible.
                </p>
                <p>In other words, blemishes in an emerald cut diamond will be more noticeable than in a round cut diamond or cushion cut diamond.</p>
                <p>
                    The GIA <a href="https://www.diamonds.pro/education/clarity/" data-wpel-link="internal">diamond clarity scale</a> ranges from best (void of inclusions) to worst (easily noticeable inclusions).
                    Their designations include:
                </p>
                <ul class="custom-list">
                    <li> <b>IF </b>– Internally Flawless</li>
                    <li> <b>VVS1 </b>– Very Very Small Inclusions 1</li>
                    <li> <b>VVS2 </b>– Very Very Small Inclusions 2</li>
                    <li> <b>VS1 </b>– Very Small Inclusions 1</li>
                    <li> <b>VS2 </b>– Very Small Inclusions 2</li>
                    <li> <b>SI1 </b>– Small Inclusions 1</li>
                    <li> <b>SI2 </b>– Small Inclusions 2</li>
                    <li> <b>I1 </b>– Inclusions 1</li>
                    <li> <b>I2 </b>– Inclusions 2</li>
                </ul>
                <p>
                    <b>We recommend a VS2 clarity for the best value</b>.
                    SI2 and SI1 clarity grades are generally not recommended with step cuts such as asscher cuts and emerald cuts.
                    Step cuts aren’t cut for their brilliance, so there’s no scattering of light to hide inclusions.
                    Most importantly, review all possible diamonds carefully to ensure they look clean to the naked eye.
                    If you’re looking for an SI1 or SI2 emerald cut, for example, you must verify that inclusions are not in the center of the stone.
                </p>
            </div>
        </div>
        <footer>
            <hr />
            <div class="container text-center">
                <p><a href="#">Back To Top</a></p>
                <p>&copy; 2024 The Diamond Shop. All rights reserved.</p>
                <p>
                    <a href="#">Terms of Service</a> | <a href="#">Privacy Policy</a> | <a href="#">Refund Policy</a>
                </p>

            </div>
        </footer>
    </form>
</body>
</html>


