
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>The Diamond Shop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .container {
            width: 100%;
            max-width: 960px;
            margin: 0 auto;
        }

        .row {
            display: flex;
            flex-wrap: wrap;
            margin-left: 10px;
            margin-right: 10px;
        }

            .row.decription {
                margin-top: 10px;
            }

        .col-md-4 {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
            padding: 0 15px;
            box-sizing: border-box;
        }

        h3 {
            margin-top: 0;
            color: black;
            font-size: 18px;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 5px;
        }

        .dropdown-menu {
            width: 400px;
        }

            .dropdown-menu li a {
                font-size: 12px;
            }

            .dropdown-menu h3,
            .dropdown-menu .col-md-3,
            .dropdown-menu .divider {
                margin-bottom: 2px;
            }

            .dropdown-menu h3 {
                font-size: 14px;
            }

            .dropdown-menu .col-md-3 {
                border-right: 1px solid #ddd;
                padding-right: 20px;
            }

                .dropdown-menu .col-md-3:last-child {
                    border-right: none;
                }

        .navbar-brand {
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .navbar-brand span:first-child {
                margin-right: 10px;
            }

        .slide-content {
            position: relative;
            text-align: center;
        }

            .slide-content p {
                position: absolute;
                top: 75%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

        .col-md-3 {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .diamond-search-icons {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            gap: 15px;
            margin-top: 15px;
        }

            .diamond-search-icons figure {
                margin: 0;
            }

                .diamond-search-icons figure img {
                    width: 50px;
                    height: 50px;
                }

            .diamond-search-icons figcaption {
                font-size: 11px;
                margin-top: 5px;
            }

        .search-button {
            display: inline-block;
            padding: 10px 20px;
            background-color: black;
            color: azure;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            transition: background-color 0.2s ease;
            margin-top: 10px;
            font-weight: bold;
        }

            .search-button:hover {
                background-color: #0056b3;
            }

        .slide-wrapper {
            position: relative;
        }

        .carousel-control {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            opacity: 0;
        }

            .carousel-control .glyphicon {
                color: crimson;
            }

        .left.carousel-control {
            left: 10px;
        }

        .right.carousel-control {
            right: 10px;
        }

        .decription {
            text-align: justify;
        }

        .spacer {
            height: 30px; /* Điều chỉnh chiều cao theo nhu cầu */
        }

        .content.decription p {
            font: 400 18px / 28px 'Roboto', Helvetica, Arial, sans-serif;
            text-align: justify;
        }

        .custom-list li {
            list-style-type: disc;
            margin-left: 20px;
        }

        .container center img {
            text-align: justify;
        }
    </style>
</head>

<body>
    <form id="form1" runat="server">

        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container ">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle " data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>

                    </button>

                    <a class="navbar-brand text-center" href="@Url.Action("Index", "Home")">
                        <span>
                            <img src="/Image/HomePage/Logo/SafeIcon.jpg" alt="TheDiamondShop" height="40" />
                        </span>
                        <span>The Diamond Shop</span>
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a href="@Url.Action("Index", "Home")">Home</a> </li>
                        <li><a href="@Url.Action("About", "Home")">About</a> </li>
                        <li><a href="@Url.Action("Contact", "Home")">Contact US</a> </li>
                        <li><a href="#">Blog</a> </li>
                        @{ if (User.Identity.IsAuthenticated)
                            {
                                <li><a href="#">Logout</a></li>
                            }
                            else
                            {
                                <li><a href="@Url.Action("Index", "SignUp")">Sign Up</a> </li>
                                <li><a href="#">Login</a> </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>

        <div class="spacer"></div>
        <h2 class="text-center">Trillion Diamond Story</h2>

        <div class="container center">
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <div class="slide-wrapper">
                            <a href="#">
                                <img src="~/Image/IntroImage/hình.jpg" alt="Destination 1" style="width: 100%;" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slide-wrapper">
                            <a href="#">
                                <img src="~/Image/IntroImage/hinh 3 (1).jpeg" alt="Destination 2" style="width: 100%;" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slide-wrapper">
                            <a href="#">
                                <img src="/Image/HomePage/BannerSlider/kc3.jpg" alt="Destination 3" style="width: 100%;" />
                            </a>
                        </div>
                    </div>
                    <div class="item">
                        <div class="slide-wrapper">
                            <a href="#">
                                <img src="~/Image/HomePage/BannerSlider/kc4.jpg" alt="Destination 4" style="width: 100%;">
                            </a>
                        </div>
                    </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>


        <!--Code thêm phần bài viết ở đây-->
        <div class="container center ">
            <div class="row ">
                <p class="decription">
                    The Trillion Cut Diamond is triangular shape with rounded or pointed corners and features between 31 to 50 facets.
                    Originally designed to make the most out of flawed or irregularly-shaped rough diamonds, the Trillion Cut has evolved into a highly sought-after style for those looking to make a unique and modern statement.
                    The cut makes a dazzling choice for both solitaire settings and as side stones.
                    When considering a Trillion Cut Diamond, be aware of both its advantages and disadvantages.
                    On the plus side, the Trillion Cut offers a larger surface area compared to other diamond shapes of the same carat weight, giving you a bigger-looking stone for your money.
                    The cut also works incredibly well in contemporary and innovative designs.
                    However, this cut has less brilliance compared to round or princess cuts, and its pointed edges can be prone to chipping if not set correctly.
                </p>
                <p>
                    <b>Bottom Line Recommendation:&nbsp;</b>
                    Trillion cut diamonds are uncommon as the center stone in an engagement ring but can look stunning as diamond accents in a three-stone diamond ring.
                    Because trillion cut diamonds are typically accent diamonds, there’s less of a need to focus on cut, clarity and color than with a center diamond.
                    In general, it’s best to look for diamonds that are eye-clean and appear colorless in relation to their setting.
                </p>
                <p>
                    As always, we recommend buying trillion cut diamond jewelry from a reputable vendor.
                    <a href="https://www.jamesallen.com/?a_aid=dmnd1357&amp;data1=413785" data-wpel-link="advanced" target="_blank" rel="nofollow noopener external sponsored" title="" class="external-link">James Allen</a> and <a href="https://www.leibish.com/#a_aid=y" data-wpel-link="advanced" target="_blank" rel="nofollow noopener external sponsored" title="" class="external-link">Leibish &amp; Co.</a> both stock a reasonable range of engagement ring settings with trillion cut diamonds, all with excellent images and very competitive pricing.
                </p>
                <h2 class="wp-block-heading" id="h-what-is-a-trillion-cut-diamond">What is a Trillion Cut Diamond?</h2>
                <p>
                    A trillion cut diamond, also referred to as a trilliant cut, is a diamond that’s cut into a triangular shape.
                    A typical trillion cut diamond will have three sides of equal length, with a flat table at its surface.&nbsp;
                </p>
                <p>The trillion cut is a relatively contemporary diamond shape, with its modern history dating back to the 1960s. <a href="https://www.gia.edu/gia-museum-exhibit-trilliant-gems" target="_blank" rel="noreferrer noopener external" data-wpel-link="external">Described by the GIA</a> as an “adventurous and provocative cut,” it has an eye-catching, contemporary look that certainly stands out from the crowd.&nbsp;</p>
                <p>Unlike most diamond shapes, the trillion cut is more commonly used for side-stone diamonds than for center stones. For example, <a href="https://rapaport.com/news/18ct-diamond-smashes-estimate-at-bonhams/" target="_blank" rel="noreferrer noopener external" data-wpel-link="external">this incredible 18.04 carat diamond ring sold by Bonhams</a> featured trillion cut diamond accents, further enhancing the beauty of the center diamond.</p>
                <p>
                    However, although trillion cut diamonds are popular as side stones, you can also find engagement rings that feature a trillion cut diamond as the center stone.
                    Below, we’ve gone into more detail on the shape and appearance of the trillion cut, as well as the history of this diamond shape.
                    We’ve also shared our recommendations for purchasing an engagement ring with trillion cut diamond accents.
                </p>
                <h2 class="wp-block-heading" id="h-trillion-cut-diamond-the-basics">Trillion Cut Diamond: The Basics</h2>

                <p class="decription">
                    <img src="~/Image/Introlmage/Trillion.png" alt="Destination 4" style="width: 50%;margin-left:260px;" />
                </p>
                <<p>
                    The trillion cut diamond is triangular, with three equal sides. Like the round brilliant cut, a trillion cut diamond has a flat table.
                    The trillion cut is known for having impressive brilliance, great fire and an eye-catching, modern appearance.&nbsp;
                </p>
                <p>
                    Like other diamonds derived from the brilliant, trillion cut diamonds do a good job of hiding color and inclusions.
                    When cut to a high standard, a trillion cut diamond can look absolutely stunning, either as a center stone or as an accent diamond.&nbsp;
                </p>
                <p>Trillion cut diamonds can differ in cut and shape depending on whether they’re intended for use as center or accent stones.</p>
                <p>
                    When a trillion cut diamond is intended to be used as a center diamond in a solitaire ring, it will typically be cut to have 50 facets.
                    Center trillion diamonds will also usually have a light curve or convex shape to maximize the diamond’s perceived size.
                </p>
                <p>When a trillion cut diamond is intended to be used as an accent diamond — for example, as a side accent in a <a href="https://www.leibish.com/rings-jewelry/double-halo-ring-setting-with-yellow-diamonds-triangles-27292#a_aid=y" data-wpel-link="advanced" target="_blank" rel="nofollow noopener external sponsored" title="" class="external-link">three-stone engagement ring</a> — it will typically be cut with 31 facets and won’t have convex edges.&nbsp;</p>
                <p>
                    Thanks to its long sides, a trillion cut diamond can often appear to be larger than its true carat weight.
                    The trillion cut, as we know it today, was trademarked by the Henry Meyer Diamond Company of New York in the 1960s as the “trilliant” cut. However, early trillion cut diamonds are believed to have been cut in Amsterdam as long ago as the 19th century.
                </p>
                <img src="~/Image/Introlmage/trillion1.png" alt="Destination 4" style="width: 40%;margin:auto;" />
                <p>
                    The trilliant name comes from the diamond’s shape — a combination of the words “triangle” and “brilliant.”
                    Over the years, numerous variations of the trillion cut have been produced, often with different shapes and facet counts.
                    Because of the variation in cut between different trillion cut diamonds, it’s important to pay close attention to photos when you’re comparing diamonds in this cut.
                </p>
                <h2 class="wp-block-heading" id="h-trillion-cut-diamonds-price">Trillion Cut Diamonds: Price</h2>
                <p>
                    Like other diamond shapes, trillion cut diamonds can vary hugely in price based on their color, clarity, cut quality and carat weight.
                    Diamond prices increase exponentially with size, meaning you’ll pay significantly more per carat if you’re looking for a particularly large diamond.
                    Since most trillion cut diamonds are part of a setting, the price can vary based on the type of setting, the number of diamonds and the total carat weight.
                </p>
                <h2 class="wp-block-heading" id="h-are-trillion-cut-diamonds-rare">Are Trillion Cut Diamonds Rare?</h2>
                <p>
                    Trillion cut diamonds are quite rare, especially as center stones.
                    Few jewelry stores keep trillion cut diamonds in stock, with the notable exception of trillion cut diamonds used as accent stones in three-stone engagement rings.
                </p>
            </div>
        </div>
        <footer>
            <hr />
            <div class="container text-center">
                <p><a href="#">Back To Top</a></p>
                <p>&copy; 2024 The Diamond Shop. All rights reserved.</p>
                <p>
                    <a href="#">Terms of Service</a> | <a href="#">Privacy Policy</a> | <a href="#">Refund Policy</a>
                </p>

            </div>
        </footer>
    </form>
</body>
</html>


