<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Delivery Staff Orders</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" />
    <link rel="icon" type="image/png" href="~/Content/Icons/diamond (1).png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <style>
        body {
            background-color: #EAE7D6;
            color: #333;
            font-family: Arial, sans-serif;
        }

        .container {
            margin-top: 20px;
            border-radius: 30px;
            background-color: #FFFFFF;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            background-color: #D7F9FA;
            padding: 20px;
            border-radius: 10px;
        }

            .header h2 {
                color: #5D7B6F;
                margin: 0;
                display: flex;
                align-items: center;
            }

                .header h2 .fa-truck {
                    margin-right: 10px;
                }

        .logout-button {
            background-color: #dc3545;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
        }

            .logout-button:hover {
                background-color: #c82333;
            }

        .search-container {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            width: 100%;
        }

        .search-icon {
            background-color: #A4C3A2;
            border: none;
            padding: 10px;
            border-radius: 5px 0 0 5px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .search-input {
            border-radius: 0 5px 5px 0;
            flex: 1;
            padding: 7px;
        }

        .order-table-container {
            background-color: #FFFFFF;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            max-height: 400px;
            overflow-y: auto;
        }

        .table {
            table-layout: fixed;
            width: 100%;
        }

            .table thead {
                color: rgba(0, 0, 0, 1);
            }

            .table th, .table td {
                vertical-align: middle;
                text-align: center;
                word-wrap: break-word;
                padding: 10px;
                border: 1px solid black;
                border-radius: 10px;
            }

        table {
            border-collapse: collapse;
        }

        .form-control {
            border-radius: 0.25rem;
        }

        .btn-success {
            border-radius: 0.25rem;
        }

        .no-orders {
            text-align: center;
            color: #999;
        }

        /* Pagination Styles */
        .pagination {
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 0;
            margin-top: 20px;
        }

            .pagination .page-item {
                margin: 0 5px;
                list-style: none;
            }

                .pagination .page-item .page-link {
                    color: #007bff;
                    text-decoration: none;
                    padding: 5px 10px;
                    border-radius: 5px;
                    border: 1px solid #dee2e6;
                    transition: background-color 0.3s, color 0.3s;
                }

                    .pagination .page-item .page-link:hover {
                        background-color: #f0f0f0;
                        border-color: #007bff;
                        color: #1c1c3c;
                    }

                .pagination .page-item.active .page-link {
                    background-color: #007bff;
                    color: white;
                    border-color: #007bff;
                }

            .pagination .page-link.selected {
                background-color: #007bff;
                color: white;
                border-color: #007bff;
            }

        #paginationForm {
            display: flex;
        }

        button.btn.btn-primary {
            background-color: #00A3FF; /* Green */
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            border-radius: 12px;
            cursor: pointer;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s, box-shadow 0.3s;
        }

            button.btn.btn-primary:hover {
                background-color: #00A3FF;
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h2><i class="fa fa-truck"></i> Delivery Staff Orders</h2>
            <form action="@Url.Action("Logout", "Login")" method="post" style="margin: 0;">
                <button type="submit" class="logout-button">Logout</button>
            </form>
        </div>
        <div class="search-container">
            <button class="search-icon" onclick="toggleSearchForm()"><i class="fa fa-search"></i></button>
            <input type="text" id="searchOrders" class="form-control search-input" placeholder="Search for orders by OrderID.." onkeypress="checkEnter(event)" value="@ViewBag.SearchOrderId">
        </div>
        <div id="ordersTableContainer">
            @if (ViewBag.Orders != null && ViewBag.Orders.Count > 0)
            {
                <div class="order-table-container">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="wide-column">Order ID</th>
                                <th class="wide-column">Customer</th>
                                <th class="wide-column">Delivery Staff</th>
                                <th class="wide-column">Total Money</th>
                                <th class="wide-column">Status</th>
                                <th class="wide-column">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in ViewBag.Orders)
                            {
                                <tr>
                                    <td>@order.orderID</td>
                                    <td>@order.customerName</td>
                                    <td>@order.deliveryStaffName</td>
                                    <td>$@String.Format("{0:N0}", order.totalMoney)</td>
                                    <td>@order.status</td>
                                    <td>
                                        <button class="btn btn-primary" onclick="viewOrder('@Url.Action("UpdateOrderDetails", "Order", new { orderId = order.orderID })')">View Order</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <nav>
                    <ul class="pagination">
                        @if (ViewBag.TotalOrders != null && ViewBag.PageSize != null)
                        {
                            int totalPages = (int)Math.Ceiling((double)ViewBag.TotalOrders / (int)ViewBag.PageSize);
                            for (int i = 1; i <= totalPages; i++)
                            {
                                <li class="page-item @(ViewBag.Page == i ? "active" : "")">
                                    <a class="page-link" href="@Url.Action("Index", new { page = i, pageSize = ViewBag.PageSize, searchOrderId = ViewBag.SearchOrderId })">@i</a>
                                </li>
                            }
                        }
                    </ul>
                </nav>
            }
            else
            {
                <div class="no-orders">
                    No orders found.
                </div>
            }
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@2.10.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <script>
        function toggleSearchForm() {
            var searchInput = document.getElementById("searchOrders");
            if (searchInput.style.display === "none" || searchInput.style.display === '') {
                searchInput.style.display = "block";
            } else {
                searchInput.style.display = "none";
            }
        }

        function checkEnter(event) {
            if (event.key === "Enter") {
                event.preventDefault();
                searchOrders();
            }
        }

        function searchOrders() {
            var searchOrderId = $('#searchOrders').val();
            window.location.href = '@Url.Action("Index", "DeliveryStaff")' + '?searchOrderId=' + searchOrderId;
        }

        function viewOrder(url) {
            window.location.href = url;
        }
    </script>
</body>
</html>
