@{
    Layout = null;
    ViewBag.Title = "Enter Reset Code";
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="/Content/Custome.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Content/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .container {
            width: 100%;
            max-width: 960px;
            margin: 0 auto;
        }

        .login-container {
            padding: 20px;
            margin-top: 100px;
            max-width: 400px;
            width: 80vw;
            margin-left: auto;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            border: 2px solid #ccc;
            box-shadow: 0 8px 16px rgba(0,0,0,0.5);
            border-radius: 10px;
            background-color: skyblue;
            color: #333;
        }

        .form-control {
            width: 100%;
        }

        .center-text {
            text-align: center;
            margin-top: -12px;
        }

        .navbar-brand {
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .navbar-brand span:first-child {
                margin-right: 10px;
            }
    </style>
</head>
<body>
    <div>
        <div class="navbar navbar-default navbar-fixed-top" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand text-center" href="@Url.Action("Index", "Home")">
                        <span>
                            <img src="/Image/HomePage/Logo/SafeIcon.jpg" alt="TheDiamondShop" height="40" />
                        </span>
                        <span>The Diamond Shop</span>
                    </a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="@Url.Action("Index", "Home")">Home</a> </li>
                        <li><a href="@Url.Action("About", "Home")">About</a> </li>
                        <li><a href="@Url.Action("Contact", "Home")">Contact US</a> </li>
                        <li><a href="#">Blog</a> </li>
                        @if (Session["IsAuthenticated"] != null && (bool)Session["IsAuthenticated"])
                        {
                            <li><a href="@Url.Action("Logout", "Login")">Logout</a></li>
                        }
                        else
                        {
                            <li><a href="@Url.Action("Index", "SignUp")">Sign Up</a></li>
                            <li><a href="@Url.Action("Index", "Login")">Login</a></li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="login-container">
        <h2 class="center-text">Enter Reset Code</h2>
        <p class="center-text text-danger">@ViewBag.Message</p>
        @using (Html.BeginForm("EnterResetCode", "ForgotPassword", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" name="email" class="form-control" value="@ViewBag.Email" readonly />
            </div>
            <div class="form-group">
                <label for="resetCode">Reset Code:</label>
                <input type="text" name="resetCode" class="form-control" required />
            </div>
            <button type="submit" class="btn btn-primary w-100">Verify Reset Code</button>
        }
    </div>

    <footer class="footer-pos">
        <hr />
        <div class="container text-center">
            <p><a href="#">Back To Top</a></p>
            <p>&copy; 2024 The Diamond Shop. All rights reserved.</p>
            <p>
                <a href="#">Terms of Service</a> | <a href="#">Privacy Policy</a> | <a href="#">Refund Policy</a>
            </p>
        </div>
    </footer>
</body>
</html>
