@{
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>The Diamond Shop</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="/Content/Custome.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Content/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" type="text/css" href="~/Views/SignUp/css/StyleSheet1.css" />
    <style>
        .signup-container {
            padding: 30px;
            margin-top: 100px;
            max-width: 400px;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            border: 1px solid #ccc;
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            background-color: #f5f5f5;
            color: #333;
        }

            .signup-container h2 {
                text-align: center;
                margin-bottom: 20px;
                color: #333;
            }

        .form-group {
            margin-bottom: 15px;
        }

        .password-container {
            position: relative;
        }

        .show-password-toggle {
            position: absolute;
            top: calc(50% + 10px);
            right: 15px;
            transform: translateY(-50%);
            cursor: pointer;
        }

        .btn-signup-spacing {
            margin-top: 20px;
        }
    </style>
</head>
<body>
    <form id="form1" runat="server" method="post" action="@Url.Action("Register", "SignUp")">
        @Html.AntiForgeryToken()

        <!---signup page--->
        <div class="signup-container">
            <h2>Sign Up</h2>
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <label for="txtUname">User Name:</label>
                <input type="text" id="txtUname" name="txtUname" class="form-control" placeholder="Enter Your User Name" value="@ViewBag.UserName" required />
            </div>

            <div class="form-group password-container">
                <label for="txtPass">Password:</label>
                <input type="password" id="txtPass" name="txtPass" class="form-control" placeholder="Enter Your Password" required />
                <span class="glyphicon glyphicon-eye-open show-password-toggle" onclick="togglePasswordVisibility('txtPass')"></span>
            </div>

            <div class="form-group password-container">
                <label for="txtCPass">Confirm Password:</label>
                <input type="password" id="txtCPass" name="txtCPass" class="form-control" placeholder="Enter Your Confirm Password" required />
                <span class="glyphicon glyphicon-eye-open show-password-toggle" onclick="togglePasswordVisibility('txtCPass')"></span>
            </div>

            <div class="form-group">
                <label for="txtName">Your Full Name:</label>
                <input type="text" id="txtName" name="txtName" class="form-control" placeholder="Enter Your Name" value="@ViewBag.FullName" required />
            </div>

            <div class="form-group">
                <label for="txtEmail">Email:</label>
                <input type="email" id="txtEmail" name="txtEmail" class="form-control" placeholder="Enter Your Email" value="@ViewBag.Email" required />
            </div>

            <div class="form-group">
                <input type="submit" id="txtsignup" class="btn btn-success btn-signup-spacing" value="Sign Up" />
            </div>
        </div>
        <!---signup page end--->
    </form>
    <script>
        function togglePasswordVisibility(fieldId) {
            var field = document.getElementById(fieldId);
            if (field.type === "password") {
                field.type = "text";
            } else {
                field.type = "password";
            }
        }
    </script>
</body>
</html>
