@model DiamondShopBOs.tblUser

@{
    ViewBag.Title = "UserProfile";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<link href="~/Content/EditProfile.css" rel="stylesheet" />

<div class="container-profile">
    <div>
        <img src="~/Image/HomePage/BannerSlider/ViewProfile.jpg" alt="Destination 1" style="width: 100%;" />
    </div>
    <div class="profile-header">
        <img class="img-fluid rounded-start img-fluid-custom" src="/Image/HomePage/Logo/ViewProfile1.png" alt="Profile Picture" style="justify-content:center" />
    </div>

    <form id="form1" runat="server" method="post" action="@Url.Action("EditProfile", "ViewProfile")">
        @Html.AntiForgeryToken()

        <div class="profile-section">
            <h4 class="text-center">User Information</h4>
            <div class="form-group">
                <label for="FullName">Full Name</label>
                <i class="fa fa-user"></i>
                @Html.TextBoxFor(m => m.fullName, new { @class = "form-control", @readonly = "readonly", @id = "FullName", @placeholder = "Full Name" })
            </div>
            <div class="form-group">
                <label for="Email">E-Mail</label>
                <i class="fa fa-envelope"></i>
                @Html.TextBoxFor(m => m.email, new { @class = "form-control", @type = "email", @readonly = "readonly", @id = "Email", @placeholder = "E-Mail" })
            </div>
        </div>

        <div class="profile-section">
            <h3>Change Password</h3>
            <div class="form-group">
                <label for="OldPassword">Old Password</label>
                <i class="fa fa-key"></i>
                <input type="password" id="OldPassword" name="oldPassword" class="form-control" placeholder="Old Password" />
                @Html.ValidationMessage("OldPassword", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label for="NewPassword">New Password</label>
                <i class="fa fa-key"></i>
                <input type="password" id="NewPassword" name="newPassword" class="form-control" placeholder="New Password" />
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Edit Profile" class="btn btn-primary btn-edit-profile-spacing" />
        </div>
    </form>
</div>

<script>
    $(document).ready(function() {
        var successMessage = '@ViewBag.SuccessMessage';
        if (successMessage) {
            $('#updateSuccessModal').modal('show');
            $('#updateSuccessModal').on('hidden.bs.modal', function () {
                location.reload();
            });
        }
    });
</script>

<!-- Success Modal -->
<div class="modal fade" id="updateSuccessModal" tabindex="-1" role="dialog" aria-labelledby="updateSuccessModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateSuccessModalLabel">Profile Update Success</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Your profile has been updated successfully!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="modalOkButton" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>
