<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link href="/Content/Custome.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Content/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
        .container {
            width: 100%;
            max-width: 960px;
            margin: 0 auto;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            margin-bottom: 5px;
        }

        .dropdown-menu {
            width: 400px;
        }

            .dropdown-menu li a {
                font-size: 12px;
            }

            .dropdown-menu h3 {
                font-size: 14px;
                margin-bottom: 2px;
            }

            .dropdown-menu .col-md-3 {
                border-right: 1px solid #ddd;
                padding-right: 20px;
            }

                .dropdown-menu .col-md-3:last-child {
                    border-right: none;
                }

            .dropdown-menu .divider {
                margin-top: 2px;
                margin-bottom: 2px;
            }

        .navbar-brand {
            display: flex;
            align-items: center;
            justify-content: center;
        }

            .navbar-brand span:first-child {
                margin-right: 10px;
            }
    </style>
</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand text-center" href="@Url.Action("Index", "Home")">
                    <span>
                        <img src="/Image/HomePage/Logo/SafeIcon.jpg" alt="TheDiamondShop" height="40" />
                    </span>
                    <span>The Diamond Shop</span>
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="@Url.Action("Index", "Home")">Home</a></li>
                    <li><a href="@Url.Action("About", "Home")">About</a></li>
                    <li><a href="@Url.Action("Contact", "Home")">Contact US</a></li>
                    <li><a href="@Url.Action("Index", "Diamonds")">Shop</a></li>
                    @if (Session["IsAuthenticated"] != null && (bool)Session["IsAuthenticated"])
                    {
                        <li><a href="@Url.Action("EditProfile", "ViewProfile")">View Profile</a></li>
                        <li><a href="@Url.Action("Index", "Cart")">View Cart</a></li>
                        <li><a href="@Url.Action("Logout", "Login")">Logout</a></li>
                    }
                    else
                    {
                        <li><a href="@Url.Action("Index", "SignUp")">Sign Up</a></li>
                        <li><a href="@Url.Action("Index", "Login")">Login</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <hr />
    @RenderBody()
    <hr />
    <footer>
        <div class="container text-center">
            <p><a href="#">Back To Top</a></p>
            <p>&copy; 2024 The Diamond Shop. All rights reserved.</p>
            <p>
                <a href="#">Terms of Service</a> | <a href="#">Privacy Policy</a> | <a href="#">Refund Policy</a>
            </p>
        </div>
    </footer>
    <div class="modal fade" id="loginSuccessModal" tabindex="-1" role="dialog" aria-labelledby="loginSuccessModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="loginSuccessModalLabel">Login Successful</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Welcome, <span id="userName"></span>!</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="modalOkButton">OK</button>
                </div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            var successMessage = '@ViewBag.SuccessMessage';
            var userName = '@ViewBag.UserName';
            if (successMessage) {
                $('#userName').text(userName);
                $('#loginSuccessModal').modal('show');
                $('#modalOkButton').click(function () {
                    window.location.href = '@Url.Action("Index", "Home")';
                });
            }
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
