<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Sale Staff Orders</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" />
    <link rel="icon" type="image/png" href="~/Content/Icons/diamond (1).png" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />
    <style>
        body {
            background-color: #EAE7D6;
            color: #333;
            font-family: Arial, sans-serif;
        }

        .container {
            margin-top: 20px;
            border-radius: 30px;
            background-color: #FFFFFF;
            padding: 20px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        .header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 20px;
            background-color: #D7F9FA;
            padding: 20px;
            border-radius: 10px;
        }

            .header h2 {
                color: #5D7B6F;
                margin: 0;
                display: flex;
                align-items: center;
            }

                .header h2 .fa-chart-line {
                    margin-right: 10px;
                }

        .logout-button {
            background-color: #dc3545;
            color: white;
            border: none;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            margin-left: 20px;
        }

            .logout-button:hover {
                background-color: #c82333;
            }

        .search-container {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
            width: 100%;
        }

        .search-icon {
            background-color: #A4C3A2;
            border: none;
            padding: 10px;
            border-radius: 5px 0 0 5px;
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .search-input {
            border-radius: 0 5px 5px 0;
            flex: 1;
            padding: 7px;
        }

        .order-table-container {
            background-color: #FFFFFF;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            max-height: 400px;
            overflow-y: auto;
        }

        .table {
            table-layout: fixed;
            width: 100%;
        }

            .table thead {
                color: rgba(0, 0, 0, 1);
            }

            .table th, .table td {
                vertical-align: middle;
                text-align: center;
                word-wrap: break-word;
                padding: 10px;
                border: 1px solid black;
                border-radius: 10px;
            }

        table {
            border-collapse: collapse;
        }

        .form-control {
            border-radius: 0.25rem;
        }

        .btn-success {
            border-radius: 0.25rem;
        }

        .no-orders {
            text-align: center;
            color: #999;
        }

        .notification-bell {
            position: relative;
            cursor: pointer;
            margin-right: 20px;
        }

            .notification-bell .notification-count {
                position: absolute;
                top: -5px;
                right: -5px;
                background-color: red;
                color: white;
                border-radius: 50%;
                padding: 2px 6px;
                font-size: 12px;
            }

        .notification-dropdown {
            display: none;
            position: absolute;
            right: 0;
            background-color: #f9f9f9;
            min-width: 300px;
            box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
            z-index: 1;
            border-radius: 5px;
            max-height: 400px;
            overflow-y: auto;
        }

            .notification-dropdown .notification-item {
                padding: 10px;
                border-bottom: 1px solid #ddd;
            }

                .notification-dropdown .notification-item:last-child {
                    border-bottom: none;
                }

                .notification-dropdown .notification-item .icon {
                    font-size: 24px;
                    margin-right: 10px;
                    color: #007bff;
                }

                .notification-dropdown .notification-item .notification-content {
                    flex-grow: 1;
                }

                    .notification-dropdown .notification-item .notification-content strong {
                        display: block;
                        font-size: 14px;
                        color: #333;
                    }

                    .notification-dropdown .notification-item .notification-content small {
                        color: #888;
                        font-size: 12px;
                    }

                .notification-dropdown .notification-item.important {
                    background-color: #ffefef;
                    border-left: 5px solid #ff4d4d;
                }

        .modal-body {
            max-height: 400px;
            overflow-y: auto;
        }

        .modal-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

            .modal-header .btn-close {
                background: none;
                border: none;
                font-size: 20px;
            }

        .btn-info {
            background-color: #007bff;
            border: none;
            color: white;
            padding: 10px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            border-radius: 12px;
            cursor: pointer;
        }

            .btn-info:hover {
                background-color: #0056b3;
            }

        .status-order-placed, .status-preparing-goods, .status-shipped-to-carrier,
        .status-in-delivery, .status-delivered, .status-paid {
            border-radius: 10px;
            display: inline-block;
            text-align: center;
            padding: 10px
        }

        /* Các màu sắc tương ứng */
        .status-order-placed {
            background-color: orange;
            color: white;
        }

        .status-preparing-goods {
            background-color: green;
            color: white;
        }

        .status-shipped-to-carrier {
            background-color: #1E91CF;
            color: white;
        }

        .status-in-delivery {
            background-color: #54B7D3;
            color: white;
        }

        .status-delivered {
            background-color: #AB482C;
            color: white;
        }

        .status-paid {
            background-color: #E3503E;
            color: white;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="header">
            <h2><i class="fa fa-chart-line"></i> Sale Staff Orders</h2>
            <div style="display: flex; align-items: center;">
                <div class="notification-bell" id="notificationBell">
                    <i class="fas fa-bell"></i>
                    <span class="notification-count" id="notificationCount">0</span>
                    <div class="notification-dropdown" id="notificationDropdown">
                        <div id="notificationList"></div>
                    </div>
                </div>
                <form action="@Url.Action("Logout", "Account")" method="post" style="margin: 0;">
                    <button type="submit" class="logout-button">Logout</button>
                </form>
            </div>
        </div>
        <div class="search-container">
            <button class="search-icon" onclick="toggleSearchForm()"><i class="fa fa-search"></i></button>
            <input type="text" id="searchOrders" class="form-control search-input" placeholder="Search for orders by OrderID.." onkeypress="checkEnter(event)" value="@Request.QueryString["searchOrderId"]">
        </div>
        <div id="ordersTableContainer">
            @if (ViewBag.Orders != null && ViewBag.Orders.Count > 0)
            {
                <div class="order-table-container">
                    <table class="table table-striped table-hover">
                        <thead>
                            <tr>
                                <th class="wide-column">Order ID</th>
                                <th class="wide-column">Customer</th>
                                <th class="wide-column">Delivery Staff</th>
                                <th class="wide-column">Total Money</th>
                                <th class="wide-column">Ship To</th>
                                <th class="wide-column">Status</th>
                                <th class="wide-column">PaidStatus</th>
                                <th class="wide-column">Note</th>
                                <th class="wide-column">Warranty Code</th>
                                <th class="wide-column">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var order in ViewBag.Orders)
                            {


                                <tr>
                                    <td>@order.orderID</td>
                                    <td>@order.customerName</td>
                                    <td>@order.deliveryStaffName</td>
                                    <td>$@String.Format("{0:N0}", order.totalMoney)</td>
                                    <td>@order.address</td>
                                    <td>
                                        <span class="@(order.status == "Order Placed" ? "status-order-placed" :
                                            order.status == "Preparing Goods" ? "status-preparing-goods" :
                                            order.status == "Shipped to Carrier" ? "status-shipped-to-carrier" :
                                            order.status == "In Delivery" ? "status-in-delivery" :
                                            order.status == "Delivered" ? "status-delivered" :
                                            order.status == "Paid" ? "status-paid" : "")">
                                            @order.status
                                        </span>
                                    </td>
                                    <td>@order.paymentStatus</td>
                                    <td>@order.Note</td>
                                    <td>
                                        @{
                                            var warrantyCodes = ViewBag.Warranties[order.orderID];
                                            var warrantyCodesStr = string.Join(" || ", warrantyCodes);
                                        }
                                        @warrantyCodesStr
                                    </td>
                                    <td>
                                        <form action="@Url.Action("Process", "SaleStaff")" method="post" style="display:inline;">
                                            @Html.AntiForgeryToken()
                                            <input type="hidden" name="orderId" value="@order.orderID" />
                                            <button type="submit" class="btn btn-warning" @(order.status != "Order Placed" ? "disabled" : "")>Process</button>
                                        </form>
                                        <button class="btn btn-primary" onclick="viewOrder('@Url.Action("UpdateOrderDetails", "Order", new { orderId = order.orderID })')">View Order</button>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <nav>
                    <ul class="pagination">
                        @if (ViewBag.TotalOrders != null && ViewBag.PageSize != null)
                        {
                            int totalPages = (int)Math.Ceiling((double)ViewBag.TotalOrders / (int)ViewBag.PageSize);
                            for (int i = 1; i <= totalPages; i++)
                            {
                                <li class="page-item @(ViewBag.Page == i ? "active" : "")">
                                    <a class="page-link" href="@Url.Action("Index", new { page = i, pageSize = ViewBag.PageSize, searchOrderId = @Request.QueryString["searchOrderId"] })">@i</a>
                                </li>
                            }
                        }
                    </ul>
                </nav>
            }
            else
            {
                <div class="no-orders">
                    No orders found.
                </div>
            }
        </div>
        <div>
            <a href="@Url.Action("Rebuy", "SaleStaff")" class="btn btn-info">Rebuy Diamonds</a>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <script>
        function toggleSearchForm() {
            var searchInput = document.getElementById("searchOrders");
            if (searchInput.style.display === "none" || searchInput.style.display === '') {
                searchInput.style.display = "block";
            } else {
                searchInput.style.display = "none";
            }
        }

        function checkEnter(event) {
            if (event.key === "Enter") {
                event.preventDefault();
                searchOrders();
            }
        }

        function searchOrders() {
            var searchOrderId = $('#searchOrders').val();
            window.location.href = '@Url.Action("Index", "SaleStaff")' + '?searchOrderId=' + searchOrderId;
        }

        function viewOrder(url) {
            window.location.href = url;
        }

        function fetchNotificationCount() {
            $.ajax({
                url: '@Url.Action("GetUnreadNotificationCount", "Notification")',
                type: 'GET',
                success: function (response) {
                    if (response.success) {
                        var notificationCount = response.unreadCount;
                        if (notificationCount > 0) {
                            $('#notificationCount').text(notificationCount);
                        } else {
                            $('#notificationCount').text('');
                        }
                    } else {
                        console.log(response.message);
                    }
                },
                error: function () {
                    console.log('Error retrieving notification count.');
                }
            });
        }

        function fetchNotifications() {
            $.ajax({
                url: '@Url.Action("GetNotifications", "Notification")',
                type: 'GET',
                success: function (response) {
                    if (response.success) {
                        var notificationList = $('#notificationList');
                        notificationList.empty();
                        response.notifications.forEach(function (notification) {
                            var item = '<div class="notification-item ' +
                                (notification.important ? 'important' : '') + '">' +
                                '<i class="fas fa-exclamation-circle icon"></i>' +
                                '<div class="notification-content">' +
                                '<strong>' + notification.detail + '</strong>' +
                                '<small>' + notification.date + '</small>' +
                                '</div>' +
                                '</div>';
                            notificationList.prepend(item);
                        });
                        $('#notificationDropdown').show();
                    } else {
                        alert(response.message);
                    }
                },
                error: function () {
                    alert('Error retrieving notifications.');
                }
            });
        }

        function markAllNotificationsAsRead() {
            $.ajax({
                url: '@Url.Action("MarkAllAsRead", "Notification")',
                type: 'POST',
                success: function (response) {
                    if (response.success) {
                        $('#notificationCount').text('');
                    } else {
                        console.log(response.message);
                    }
                },
                error: function () {
                    console.log('Error marking notifications as read.');
                }
            });
        }

        $(document).ready(function () {
            fetchNotificationCount();

            $('#notificationBell').click(function () {
                $('#notificationDropdown').toggle();
                if ($('#notificationDropdown').is(':visible')) {
                    fetchNotifications();
                }
            });

            setInterval(fetchNotificationCount, 60000);

            $(document).click(function (event) {
                if (!$(event.target).closest('#notificationBell').length && !$(event.target).closest('#notificationDropdown').length) {
                    $('#notificationDropdown').hide();
                }
            });
        });
    </script>
</body>
</html>
