@model List<DiamondShopBOs.tblDiamond>
@{
    ViewBag.Title = "Diamonds";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<style>
    select {
        width: 150px;
    }

        select option {
            padding: 5px;
        }

    .transparent-button {
        background: transparent;
        border: none;
        color: white;
        transition: color 0.3s;
        cursor: pointer;
    }

        .transparent-button:hover {
            color: #f0f0f0;
        }

    .range_container {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 15px auto;
    }

    .sliders_control {
        position: relative;
        min-height: 20px;
    }

    .form_control {
        position: relative;
        display: flex;
        justify-content: space-between;
        font-size: 15px;
        color: #635a5a;
    }

    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        pointer-events: all;
        width: 12px;
        height: 12px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 0 1px #C6C6C6;
        cursor: pointer;
    }

    input[type=range]::-moz-range-thumb {
        -webkit-appearance: none;
        pointer-events: all;
        width: 12px;
        height: 12px;
        background-color: #fff;
        border-radius: 50%;
        box-shadow: 0 0 0 1px #C6C6C6;
        cursor: pointer;
    }

    input[type=range]::-webkit-slider-thumb:hover {
        background: #f7f7f7;
    }

    input[type=range]::-webkit-slider-thumb:active {
        box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
        -webkit-box-shadow: inset 0 0 3px #387bbe, 0 0 9px #387bbe;
    }

    input[type="number"] {
        color: #8a8383;
        width: 80px;
        height: 30px;
        font-size: 12px;
        border: none;
    }

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        opacity: 1;
    }

    input[type="range"] {
        -webkit-appearance: none;
        appearance: none;
        height: 2px;
        width: 100%;
        position: absolute;
        background-color: #C6C6C6;
        pointer-events: none;
    }

    #fromSlider {
        height: 0;
        z-index: 1;
    }
</style>
<link href="~/Content/ProductCss/style.css" rel="stylesheet" />
<link href="~/Content/ProductCss/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/ProductCss/owl.theme.default.min.css" rel="stylesheet" />
<link href="~/Content/ProductCss/animate.css" rel="stylesheet" />
<link href="~/Content/ProductCss/linearicons.css" rel="stylesheet" />
<link href="~/Content/ProductCss/SliderMaxMin.css" rel="stylesheet" />

@{
    List<string> clarities = new List<string>() { "IF", "VVS1", "VVS2", "VS1", "VS2", "SI1", "SI2", "SI3", "I1", "I2", "I3" };
    List<string> cuts = new List<string>() { "Excellent", "Very Good", "Good", "Fair", "Poor", "Ideal" };
    List<string> colors = new List<string>() { "D", "E", "F", "G", "H", "I", "J", "K", "L", "M", "N", "O", "P", "Q", "R", "S", "T", "U", "V", "W", "X", "Y", "Z" };
    List<string> shapes = new List<string>() { "Round", "Princess", "Cushion", "Emerald", "Oval", "Radiant", "Asscher", "Marquise", "Heart", "Pear" };
    List<string> sortOptions = new List<string>() { "Price (Low to High)", "Price (High to Low)", "Carat Weight (Low to High)", "Carat Weight (High to Low)" };
    ViewBag.SortOptions = new SelectList(sortOptions, ViewBag.SelectedSort);
}

@using (Html.BeginForm("Fillter", "Diamonds", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="container center-block" style="margin-top:50px;">
        <div class="form-group">
            <label for="SearchTerm">Search Term:</label>
            <input type="text" id="SearchTerm" name="SearchTerm" value="@ViewBag.SearchTerm" class="form-control" />
        </div>
        <div class="form-group col-lg-4">
            <label for="Clarity">Clarity:</label>
            <select id="Clarity" name="Clarity" class="form-control">
                <option value="">-- All --</option>
                @foreach (var clarity in clarities)
                {
                    <option value="@clarity" @(clarity == ViewBag.SelectedClarity ? "selected" : "")>@clarity</option>
                }
            </select>
        </div>
        <div class="form-group col-lg-4">
            <label for="Cut">Cut:</label>
            <select id="Cut" name="Cut" class="form-control">
                <option value="">-- All --</option>
                @foreach (var cut in cuts)
                {
                    <option value="@cut" @(cut == ViewBag.SelectedCut ? "selected" : "")>@cut</option>
                }
            </select>
        </div>
        <div id="PriceDiv" class="col-lg-4">
            <div class="range_container">
                <div class="sliders_control">
                    <input id="fromSlider" type="range" value="@ViewBag.minPrice" min="1" max="99999" step="1" />
                    <input id="toSlider" type="range" value="@ViewBag.maxPrice" min="1" max="99999" step="1" />
                </div>
                <div class="form_control">
                    <div class="form_control_container">
                        <div class="form_control_container__time">MinPrice</div>
                        <input class="form_control_container__time__input" type="number" id="fromInput" value="@ViewBag.minPrice" min="1" max="99999" step="1" name="MinPrice" />
                    </div>
                    <div class="form_control_container">
                        <div class="form_control_container__time">MaxPrice</div>
                        <input class="form_control_container__time__input" type="number" id="toInput" value="@ViewBag.maxPrice" min="1" max="99999" step="1" name="MaxPrice" />
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-lg-4">
            <label for="Color">Color:</label>
            <select id="Color" name="Color" class="form-control">
                <option value="">-- All --</option>
                @foreach (var color in colors)
                {
                    <option value="@color" @(color == ViewBag.SelectedColor ? "selected" : "")>@color</option>
                }
            </select>
        </div>
        <div class="form-group col-lg-4">
            <label for="Shape">Shape:</label>
            <select id="Shape" name="Shape" class="form-control">
                <option value="">-- All --</option>
                @foreach (var shape in shapes)
                {
                    <option value="@shape" @(shape == ViewBag.SelectedShape ? "selected" : "")>@shape</option>
                }
            </select>
        </div>
        <div id="CaratDiv" class="col-lg-4">
            <div class="range_container">
                <div class="sliders_control">
                    <input id="fromSlider" type="range" value="@ViewBag.minCaratWeight" min="0.5" max="10" step="0.01" />
                    <input id="toSlider" type="range" value="@ViewBag.maxCaratWeight" min="0.5" max="10" step="0.01" />
                </div>
                <div class="form_control">
                    <div class="form_control_container">
                        <div class="form_control_container__time">Min Carat</div>
                        <input class="form_control_container__time__input" type="number" id="fromInput" value="@ViewBag.minCaratWeight" min="0.5" max="10" step="0.01" name="MinCaratWeight" />
                    </div>
                    <div class="form_control_container">
                        <div class="form_control_container__time">Max Carat</div>
                        <input class="form_control_container__time__input" type="number" id="toInput" value="@ViewBag.maxCaratWeight" min="0.5" max="10" step="0.01" name="MaxCaratWeight" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container row center-block">
        <button type="submit" class="btn btn-primary col-lg-1" style="background-color: #151542; float:right;">Filter</button>
        <a class="btn btn-secondary" href="@Url.Action("Index", "Diamonds")" style="background-color: #151542; color:aliceblue; float:right; margin-right: 10px;">Reset</a>
        <div class="form-group col-lg-4" style="float:right;">
            @Html.DropDownList("SortBy", (SelectList)ViewBag.SortOptions, new { @class = "form-control" })
        </div>
    </div>
}

<section id="new-arrivals" class="new-arrivals">
    <div class="container">
        <div class="new-arrivals-content">
            <div class="row">
                @foreach (var item in Model)
                {
                    if (item.status != false)
                    {
                        string[] imagepart = item.diamondImagePath.Split('|');
                    <div class="col-md-3 col-sm-4">
                        <a href="@Url.Action("ViewDiamond", "Diamonds", new { id = item.diamondID })">
                            <div class="single-new-arrival">
                                <div class="single-new-arrival-bg">
                                    <img src="@imagepart[0]" alt="new-arrivals images" style="width:100%">
                                    <div class="single-new-arrival-bg-overlay"></div>
                                    <div class="new-arrival-cart">
                                        @*<div class="arrival-review pull-right">
                                            @using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
                                            {
                                                @Html.Hidden("diamondID", item.diamondID)
                                                @Html.Hidden("accentStoneID", item.diamondName)
                                                @Html.Hidden("settingID", item.diamondPrice)
                                                <span class="lnr lnr-cart" style="color: #f0f0f0;"></span>
                                                <input type="submit" class="transparent-button" value="Add to Cart" />
                                            }
                                        </div>*@
                                    </div>
                                </div>
                                <h4 style="height: 40px"><a href="@Url.Action("ViewDiamond", "Diamonds", new { id = item.diamondID })">@item.diamondName</a></h4>
                                <p class="arrival-product-price">$@item.diamondPrice</p>
                            </div>
                        </a>
                    </div>
                    }
                }
            </div>
        </div>
    </div>
</section>

@{
    int startPage = Math.Max(1, ViewBag.CurrentPage - 2);
    int endPage = Math.Min(ViewBag.NumOfPage, ViewBag.CurrentPage + 2);
}

<div class="container">
    <ul class="pagination row">
        @using (Html.BeginForm("Fillter", "Diamonds", FormMethod.Post, new { id = "paginationForm" }))
        {
            @Html.AntiForgeryToken()
            <input type="hidden" name="page" id="pageNumber" value="" />
            <input type="hidden" name="SearchTerm" value="@ViewBag.SearchTerm" />
            <input type="hidden" name="Clarity" value="@ViewBag.SelectedClarity" />
            <input type="hidden" name="Cut" value="@ViewBag.SelectedCut" />
            <input type="hidden" name="Color" value="@ViewBag.SelectedColor" />
            <input type="hidden" name="Shape" value="@ViewBag.SelectedShape" />
            <input type="hidden" name="MinPrice" value="@ViewBag.minPrice" />
            <input type="hidden" name="MaxPrice" value="@ViewBag.maxPrice" />
            <input type="hidden" name="MinCaratWeight" value="@ViewBag.minCaratWeight" />
            <input type="hidden" name="MaxCaratWeight" value="@ViewBag.maxCaratWeight" />
            if (ViewBag.CurrentPage > 3)
            {
                <li class="page-item col-lg-2">
                    <button type="button" class="btn btn-link" onclick="setPageValue(1);"><span class="lnr lnr-chevron-left"> </span></button>
                </li>
            }
            for (int i = startPage; i <= endPage; i++)
            {
                <li class="page-item col-lg-1 @(i == ViewBag.CurrentPage ? "active" : "")">
                    <button type="button" class="btn btn-link @(i == ViewBag.CurrentPage ? "selected" : "")" onclick="setPageValue(@i);">@i</button>
                </li>
            }
            if (ViewBag.CurrentPage < ViewBag.NumOfPage - 5)
            {
                <li class="page-item col-lg-1">
                    <button type="button" class="btn btn-link" onclick="setPageValue(@ViewBag.NumOfPage);">Last</button>
                </li>
            }
        }
    </ul>
</div>

<script>
    function setPageValue(page) {
        document.getElementById("pageNumber").value = page;
        document.getElementById("paginationForm").submit();
    }
</script>

@Html.Hidden("CurrentPage", (int)ViewBag.CurrentPage)
@Html.Hidden("PageSize", 12)
}
<script src="~/Scripts/ProductJs/custom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
<script src="~/Scripts/ProductJs/bootstrap.min.js"></script>
<script src="~/Scripts/ProductJs/jquery.js"></script>
<script src="~/Scripts/ProductJs/SliderMaxMin.js"></script>
