@model DiamondShopBOs.WarrantyDetailsViewModel

@{
    ViewBag.Title = "Warranty Details";
}

<h2>Warranty Details</h2>
<a href="@Url.Action("ViewWarranty", "Warranty")" class="btn btn-primary">View Warranty</a>
<link rel="icon" type="image/png" href="~/Content/Icons/diamond (1).png" />
<div>
    <p><strong>Warranty Code:</strong> @Model.WarrantyCode</p>
    <p><strong>Warranty Start Date:</strong> @Model.WarrantyStartDate</p>
    <p><strong>Warranty End Date:</strong> @Model.WarrantyEndDate</p>
    <p><strong>Warranty Details:</strong> @Model.WarrantyDetails</p>
    <p><strong>Diamond Name:</strong> @Model.DiamondName</p>
    <p><strong>Diamond Price:</strong> @Model.DiamondPrice</p>
    <p>Image Path:<img src="@Model.ImagePath.Split('|')[0]" alt="Product Image" /></p>
    <p><strong>Setting Name:</strong> @Model.SettingName</p>
    <p><strong>Setting Price:</strong> @Model.SettingPrice</p>
    <p><strong>Accent Stone Name:</strong> @Model.AccentStoneName</p>
    <p><strong>Accent Stone Price:</strong> @Model.AccentStonePrice</p>
    <p><strong>Accent Stone Quantity:</strong> @Model.AccentStoneQuantity</p>
    <p><strong>Full Name:</strong> @Model.FullName</p>
    <p><strong>Customer Name:</strong> @Model.CustomerName</p>
</div>
